node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
.vscode
**/*.log
pnpm-lock.yaml
pnpm-workspace.yaml
collect.py
svelte.config.js


# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
