@import "tailwindcss";

@plugin "daisyui";

@theme {
  --font-family-sans: 'Roboto', system-ui, sans-serif;
}

:root {
  font-family: var(--font-family-sans);
}

.provincial-logo{
    color: #255996;
}